.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modalContent {
    width: 320px;
    height: 120px;
    padding: 24px 24px 0px;
    line-height: 21px;
    margin-top: 0px;
    letter-spacing: 0px;
    background-color: white;
    overflow-x: hidden;
    border-radius: 12px;
    text-align: left;
    position: fixed;
    top: 100px;
    right: 240px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid var(--lightgray-color);
}

.modalTitle {
    font-size: 12px;
    font-weight: normal;
    color: var(--text-color);
    padding-top: 4px;
}

.wishListModalProductName {
    font-size: 12px;
    font-weight: normal;
    color: var(--text-color);
    padding-top: 4px;
}

.wishListModalBtn {
    width: 20px;
    height: 20px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: rgb(95, 0, 128);
    background: white;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    padding-top: 4px;
}