.cartPage {
  width: 1050px;
  padding-bottom: 80px;
  margin: 0px auto;
}

.cartPageTitle {
  border-bottom: 2px solid rgb(51, 51, 51);
  padding-top: 40px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.emptyCart {
  margin-top: 20px;
}

.cartItemsContainer {
  width: 1050px;
  width: 1050px;
  overflow: hidden;
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 12px;
}

.cartItem {
  width: 1050px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 12px;
  margin-top: 14px;
  position: relative;
}

.cartItemImage {
  width: 120px;
  height: 140px;
  object-fit: cover;
  margin-right: 16px;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
}

.cartItemName {
  font-size: 16px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  margin-bottom: 14px;
  padding-left: 12px;
}

.cartItemPrice {
  font-size: 18px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  padding-left: 12px;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(221, 223, 225);
  border-radius: 12px;
  padding: 4px;
  margin-top: 20px;
  width: 140px;
  margin-left: 8px;
}

.label {
  padding: 0 8px;
  font-size: 14px;
}

.inputQuantity {
  border: none;
  outline: none;
  font-size: 14px;
  width: 40px;
  height: 24px;
  text-align: center;
  margin-right: 12px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 52px;
  top: 42px;
}

.deleteBox {
  text-align: center;
  overflow: hidden;
  width: 104px;
  height: 36px;
  border-radius: 4px;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  font-size: 13px;
  cursor: pointer;
  margin-top: 14px;
}

.totalPriceBox {
  margin-top: 24px;
  width: 1050px;
  display: flex;
}

.totalPrice {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.purchase {
  padding-top: 40px;
}

.purchaseBtn {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 300px;
  height: 56px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
  font-weight: 500;
  cursor: pointer;
}

.purchaseText {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}
