.productFilterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 20px;
}

.filteredName {
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
}

.filteredNameRecommend {
    font-weight: 500;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.filteredNameSelected {
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
    font-weight: 600;
}